<!DOCTYPE html>
<html>

<head>
    <title>Asset</title>
    {% include 'headers.html' %}
    <script>
        document.addEventListener('DOMContentLoaded', function () { 
            M.Forms.InitTextarea(document.querySelector('#description'));
        });

    </script>
</head>

<body>
    <div class="container">
        <h2>Asset</h2>
        {% if asset_data %}
        <h3>ID</h3>
        <h4>{{ asset_data.id }}</h4>
        <form class="row" action="./update/{{asset_data.id}}" method="post">
            <div class="col s12 input-field ">
                <textarea name="description" id="description" class="materialize-textarea">{{asset_data.description}}</textarea>
                <label for="description">Description</label>
              </div>
            <div class="col s12 m12">
                <button class="btn waves-effect waves-light" type="submit">Update</button>
            </div>
        </form>
        {% else %} 
        <h3>Asset ID Not Found</h3>
        {% endif %}
        {% include 'footer.html' %}
    </div>
</body>

</html>