<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    {% include 'headers.html' %}
    {% include 'site-styles.html' %}
</head>

<body>
    <div class="container">
        <div class="section">
            <h1>Asset Tracker</h1>
        </div>
        <div class="section">
            <button class="btn waves-effect waves-light" onclick="window.location='./show-database'">Database</button>
        </div>
        <div class="section">
            <button class="btn waves-effect waves-light" onclick="window.location='./generate-qr-batch'">Generate New Batch</button>
        </div>
        <div class="section">
            <button class="btn waves-effect waves-light" onclick="window.location='./scanner'">New Pick List</button>
        </div>        
    </div>
</body>

</html>