<!DOCTYPE html>
<html>

<head>
    <title>Asset</title>
    {% include 'headers.html' %}
    {% include 'site-styles.html' %}
    {% include 'form-scripts.html' %}
</head>

<body>
    <div class="container">
        <h2>Asset</h2>
        {% include 'bread-crumbs.html' %}
        <div class="divider"></div>
        <h3>Details</h3>
        <div class="divider"></div>
        {% if asset %}
        <form class="row" action="./{{asset.id}}/update" method="post">
            <div class="col s12 m6 input-field">
                <input id="id" name="id" type="text" value="{{asset.id}}" disabled>
                <label for="id" >ID</label>
                <span class="supporting-text">Unique ID</span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="name" name="description" type="text" value="{% if asset.description %}{{ asset.description}}{% endif %}">
                <label for="name">Description</label>
                <span class="supporting-text">Description of the equipment</span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="manufacturer" name="manufacturer" type="text" value="{% if asset.manufacturer %}{{asset.manufacturer}}{% endif %}">
                <label for="manufacturer">Manufacturer</label>
                <span class="supporting-text"></span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="part-number" name="part_number" type="text" value="{% if asset.part_number %}{{asset.part_number}}{% endif %}">
                <label for="part-number">Part Number</label>
                <span class="supporting-text">Provided by manufacturer</span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="serial-number" name="serial_number" type="text" value="{% if asset.serial_number %}{{asset.serial_number}}{% endif %}">
                <label for="serial-number">Serial Number</label>
                <span class="supporting-text">Provided by manufacturer</span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="owner" name="owner" type="text" value="{% if asset.owner %}{{asset.owner}}{% endif %}">
                <label for="owner">Owner</label>
                <span class="supporting-text">Or responsible person</span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="location" name="location" type="text" value="{% if asset.location %}{{asset.location}}{% endif %}">
                <label for="location">Location</label>
                <span class="supporting-text">Address and description of location</span>
            </div>
            <div class="col s12 m12">
                <button class="btn waves-effect waves-light" type="submit">Update</button>
            </div>
        </form>
        <div class="divider"></div>
        <h3>Version History</h3>
        <ul class="collection">
        {% for log in change_logs %}
            <li class="collection-item">
                <b>User: </b>{{log.user_id}} - <b>Change: </b>{{log.value}}
            </li>    
        {% endfor %}
        </ul>
        <div class="divider"></div>
        <h3>Scan Log</h3>
        <div class="divider"></div>
        <h3>Photos</h3>
        <div class="divider"></div>
        {% else %} 
        <h3>Asset ID Not Found</h3>
        {% endif %}
    </div>
</body>

</html>