            <div class="col s12 m6 input-field">
                <input id="name" name="name" type="text" value="{{asset_data.name}}">
                <label for="name">Name</label>
                <span class="supporting-text"></span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="location" name="location" type="text" value="{{asset_data.location}}">
                <label for="location">Location</label>
                <span class="supporting-text">Rail Locations</span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="switchboard" name="switchboard" type="text" value="{{asset_data.switchboard}}">
                <label for="switchboard">Switchboard</label>
                <span class="supporting-text"></span>
            </div>
            <div class="col s12 m6 input-field">
                <input id="circuit-breaker" name="circuit_breaker" type="text" value="{{asset_data.circuit_breaker}}">
                <label for="circuit-breaker">Circuit Breaker</label>
                <span class="supporting-text"></span>
            </div>
            <div class="col s12 m6 input-field">
                <select id="status" name="status" value="{{asset_data.status}}">
                    <option value="" disabled>Selet status</option>
                    <option value="locked-out">Locked-out</option>
                    <option value="released">Released</option>
                </select>
                <label for="status">Status</label>
            </div>