<!DOCTYPE html>
<html>

<head>
    <title>QR Batch</title>
    {% include 'headers.html' %}
    <script>
        function saveText() {
            let data = `{{csv|safe}}`;
            let file = 'data.csv';

            let link = document.createElement('a');
            link.download = file;
            let blob = new Blob(['' + data + ''], {
                type: 'text/csv'
            });
            link.href = URL.createObjectURL(blob);
            link.click();
            URL.revokeObjectURL(link.href);
        }
    </script>
</head>

<body>
    <div class="container">
        <h2>QR Batch</h2>
        {% include 'bread-crumbs.html' %}
        <div class="divider"></div>
        <table>
            <thead>
                <tr>
                    <th>QR</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {% for qr in qrs %}
                <tr>
                    <td>{{qr.image|safe}}</td>
                    <td><a href="{{ qr.url }}">Link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col s12 m12">
                <button class="btn waves-effect waves-light" onclick="saveText();">Download URLs</button>
            </div>
        </div>
    </div>
</body>

</html>