<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'headers.html' %}
    <title>QR Scanner Demo</title>

    {% include 'floating-action-button.html' %}

    <link href="./public/css/scanner.css" rel="stylesheet">

</head>
<body>
    <div id="video-container">
        <video id="qr-video"></video>
        <div style="position: absolute; display: none; pointer-events: none;" class="scan-region-highlight"></div>
        <div id="progress-bar" class="progress" style="display: none;">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large">
            <i class="material-icons">add</i>
            <span id="scan-count" class="badge"></span>
        </a>
        <ul>
            <li id="flash-on-button" style="display: none;"><a class="btn-floating yellow" onclick="turnFlashOn();"><i class="material-icons">flash_on</i></a></li>
            <li id="flash-off-button" style="display: none;"><a class="btn-floating yellow" onclick="turnFlashOff();"><i class="material-icons">flash_off</i></a></li>
            <li id="start-scanner-button"><a class="btn-floating blue" onclick="startScanner();"><i class="material-icons">photo_camera</i></a></li>
            <li id="send-to-picklist-button" style="display: none;"><a class="btn-floating green" onclick="sendPickList();"><i class="material-icons">send</i></a></li>
            <li id="flip-camera-button" style="display: none;"><a class="btn-floating blue" onclick="toggleCameras();"><i class="material-icons">flip_camera_ios</i></a></li>
            <li id="stop-scanner-button" style="display: none;"><a class="btn-floating green" onclick="stopScanner();"><i class="material-icons">check</i></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="section">
            <ul id="pick-list-collection" class="collection with-header">
                <li class="collection-header">
                    Pick List
                </li>
            </ul>
        </div>
    </div>
    {% include 'pixabay.html' %}

    <script type="module">     

        import QrScanner from "./public/js/qr-scanner.min.js";

        const video = document.getElementById('qr-video');
        const videoContainer = document.getElementById('video-container');
        
        const pick_list_ul = document.getElementById('pick-list-collection');
        let unique_scanned_items = [];
        let unique_scanned_urls = [];

        function sendPickList() { 
            try { 
                let request = new XMLHttpRequest();
                let data = null;
                request.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Typical action to be performed when the document is ready:
                        alert('ok');
                    }
                }
                request.open("POST", "./generate-pick-list", false);
                request.setRequestHeader('Content-Type', 'application/json');
                request.send(JSON.stringify(unique_scanned_items));
                
            } catch(error) {
                debugger;
                return { "error": "Not supported" }
            }
        }
        window.sendPickList = sendPickList;

        function getAssetData(url) { 
            try { 
                let request = new XMLHttpRequest();
                let data = null;
                request.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Typical action to be performed when the document is ready:
                        data = JSON.parse(request.responseText);
                    }
                }
                request.open("GET", url, false);
                request.setRequestHeader('Content-Type', 'application/json');
                request.send();
                return data;
            } catch(error) {
                debugger;
                return { "error": "Not supported" }
            }

        }

        function addToPickList(url) { 
            let asset_data = getAssetData(url);
            if (!asset_data.error) {
                unique_scanned_items.push(asset_data);
                let new_item = document.createElement('li');
                new_item.setAttribute('class', 'collection-item');
                let id = document.createElement('span');
                id.textContent = String(unique_scanned_items.length) + ": "
                id.style['font-weight'] = 'bold';
                let anchor = document.createElement('a');
                anchor.setAttribute('href', url);
                anchor.setAttribute('target', "_blank");
                if (asset_data.name) { 
                    anchor.textContent = asset_data.name;
                } else { 
                    anchor.textContent = asset_data.id;
                }
                new_item.appendChild(id);
                new_item.appendChild(anchor);
                pick_list_ul.appendChild(new_item);
                document.getElementById('scan-count').textContent = String(unique_scanned_items.length);
            } else { 
                alert('Invalid QR Code!')
            }
        }

        function setResult(result) {
            document.getElementById('progress-bar').style.display = 'inline-block';
            let url = result.data;
            if (unique_scanned_urls.indexOf(url) < 0) { 
                unique_scanned_urls.push(url);
                camera_shutter_sound.play();
                addToPickList(url);
            }
            document.getElementById('progress-bar').style.display = 'none';
        }

        // ####### Web Cam Scanning #######

        const scanner = new QrScanner(video, result => setResult(result), {
            highlightScanRegion: true,
            highlightCodeOutline: true,
        });

        const updateFlashAvailability = () => {
            scanner.hasFlash().then(hasFlash => {
                // document.getElementById('flash-off-button').style.display = hasFlash ? 'inline-block' : 'none';
                document.getElementById('flash-on-button').style.display = hasFlash ? 'inline-block' : 'none';
            });
        };

        window.active_camera = 0;

        const toggleCameras = () => {
            active_camera += 1
            active_camera = (active_camera % cameras.length)
            scanner.setCamera(cameras[active_camera].id).then(updateFlashAvailability);
        }
        window.toggleCameras = toggleCameras;

        const startScanner = () => {
            document.getElementById('video-container').setAttribute('class', 'active');
            scanner.start().then(() => {
                updateFlashAvailability();
                // List cameras after the scanner started to avoid listCamera's stream and the scanner's stream being requested
                // at the same time which can result in listCamera's unconstrained stream also being offered to the scanner.
                // Note that we can also start the scanner after listCameras, we just have it this way around in the demo to
                // start the scanner earlier.
                QrScanner.listCameras(true).then(cameras => {
                    window.cameras = cameras;
                    if (cameras.length > 1) {
                        document.getElementById('flip-camera-button').style.display = 'inline-block';
                    }
                });
                document.getElementById('send-to-picklist-button').style.display = 'none';
                document.getElementById('start-scanner-button').style.display = 'none';
                document.getElementById('stop-scanner-button').style.display = 'inline-block';
                // fixed_action_button.close();
            });
        }
        window.startScanner = startScanner;

        const stopScanner = () => {
            document.getElementById('video-container').removeAttribute('class');
            scanner.stop();
            document.getElementById('stop-scanner-button').style.display = 'none';
            document.getElementById('flip-camera-button').style.display = 'none';
            document.getElementById('start-scanner-button').style.display = 'inline-block';
            if (unique_scanned_items.length > 0) document.getElementById('send-to-picklist-button').style.display = 'inline-block';
            fixed_action_button.close();
        }
        window.stopScanner = stopScanner;

        // for debugging
        window.scanner = scanner;



        {#
        document.getElementById('scan-region-highlight-style-select').addEventListener('change', (e) => {
            videoContainer.className = e.target.value;
            scanner._updateOverlay(); // reposition the highlight because style 2 sets position: relative
        });

        document.getElementById('show-scan-region').addEventListener('change', (e) => {
            const input = e.target;
            const label = input.parentNode;
            label.parentNode.insertBefore(scanner.$canvas, label.nextSibling);
            scanner.$canvas.style.display = input.checked ? 'block' : 'none';
        });
        #}

        {#
        document.getElementById('inversion-mode-select').addEventListener('change', event => {
            scanner.setInversionMode(event.target.value);
        });

        camList.addEventListener('change', event => {
            scanner.setCamera(event.target.value).then(updateFlashAvailability);
        });

        flashToggle.addEventListener('click', () => {
            scanner.toggleFlash().then(() => flashState.textContent = scanner.isFlashOn() ? 'on' : 'off');
        });

        document.getElementById('start-button').addEventListener('click', () => {
            startScanner();
        });

        document.getElementById('stop-button').addEventListener('click', () => {
            scanner.stop();
        });

        // ####### File Scanning #######

        fileSelector.addEventListener('change', event => {
            const file = fileSelector.files[0];
            if (!file) {
                return;
            }
            QrScanner.scanImage(file, { returnDetailedScanResult: true })
                .then(result => setResult(fileQrResult, result))
                .catch(e => setResult(fileQrResult, { data: e || 'No QR code found.' }));
        });
        #}
    </script>
</body>
</html>