<!DOCTYPE html>
<html>

<head>
    <title>Asset Database</title>
    {% include 'headers.html' %}

</head>

<body>
    <div class="container">
        <h2>Asset Database</h2>
        {% include 'bread-crumbs.html' %}
        <div class="divider"></div>
        <table>
            <thead>
                <tr>
                    <th>QR</th>
                    <th>URL</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in asset_database %}
                <tr>
                    <td>{{asset_database[asset].qr|safe}}</td>
                    <td><a href="{{ asset_database[asset].url }}">Link</a></td>
                    <td>{{asset_database[asset].name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>