<!DOCTYPE html>
<html>

<head>
    <title>Asset Database</title>
    {% include 'headers.html' %}

</head>

<body>
    <div class="container">
        <h2>Asset Database</h2>
        {% include 'bread-crumbs.html' %}
        <div class="divider"></div>
        <table>
            <thead>
                <tr>
                    <th>QR</th>
                    <th>URL</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for asset in assets %}
                <tr>
                    <td>{{ generate_qr(asset.id)|safe }}</td>
                    <td><a href="{{ generate_url(asset.id) }}">Link</a></td>
                    <td>{{asset.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>