<!DOCTYPE html>
<html>

<head>
    <title>Verify SMS Code</title>
    {% include 'headers.html' %}

</head>

<body>
    <div class="container">
        <div class="section">
            <h1>Verify SMS Code</h1>
        </div>
        <div class="section">
            <form method="POST" action="../verify-sms-code/{{mobile_number}}">
                <div class="field">
                    <div class="control">
                        {% if error %}
                        <label><span style="color: red;">{{error}}</span></label>
                        {% else %}
                        <label>Enter the code sent in the sms within 3 minutes</label>
                        {% endif %}
                        <input class="input is-large" type="text" pattern="[a-z0-9]{6}" name="verification_code" placeholder="" autofocus="" autocomplete="off">
                        {% if not existing_user %}
                        <label>First Name</label>
                        <input class="input is-large" type="text" name="first_name" autocomplete="off">
                        <label>Last Name</label>
                        <input class="input is-large" type="text" name="last_name" autocomplete="off">
                        {% endif %}
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Submit Code</button>
            </form>
        </div>
    </div>
</body>

</html>